
/* Your CSS Code here. */
.main{
	width:200px;
	background-color:purple;
	border-left-color: green;
	border-left-thin: 5px;
	padding:10px;
	border-left-width:  5px;
}

.heading{
	font-size:20px;
	color:white;
	Text-decoration:underline;
}